<div id="<%= dom_id show %>">
  <p>
    <strong>Name:</strong>
    <%= show.name %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= show.link %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= show.priority %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= show.description %>
  </p>

</div>
